<section class="probootstrap-section-half d-md-flex" id="section-about">
    <div class="probootstrap-image probootstrap-animate" data-animate-effect="fadeIn"
         style="background-image: url(assets/images/8.jpg)"></div>
    <div class="probootstrap-text">
        <div class="probootstrap-inner probootstrap-animate" data-animate-effect="fadeInRight">
            <h2 class="heading mb-4">PONENCIAS</h2>
            <p>[INFO SOBRE ELLO]</p>

            <p><a href="single-page.html" class="btn btn-primary">LEER MAS</a></p>
        </div>
    </div>
</section>
<section class="probootstrap-section-half d-md-flex">
    <div class="probootstrap-image order-2 probootstrap-animate" data-animate-effect="fadeIn"
         style="background-image: url(assets/images/23.jpg)"></div>
    <div class="probootstrap-text order-1">
        <div class="probootstrap-inner probootstrap-animate" data-animate-effect="fadeInLeft">
            <h2 class="heading mb-4">TALLERES</h2>
            <p>[INFO SOBRE ELLO]</p>

            <p><a href="single-page.html" class="btn btn-primary">LEER MAS</a></p>
        </div>
    </div>
</section>
<!-- END section -->

<section class="probootstrap_section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 text-center mb-5 probootstrap-animate">
                <h2>PONENTES Y TALLERISTAS</h2>
                <p class="probootstrap_font-18">[INFO SOBRE ELLO]</p>

            </div>
        </div>

      <div class="row justify-content-center mb-5">
        <div class="col-md-8 text-center mb-5 probootstrap-animate">
            <h4>PONENTES Y TALLERISTAS NACIONALES</h4>
          </div>
          </div>

          <div class="row">
            <div class="col-md probootstrap-animate">
              <div class="media d-block text-center testimonial_v1 probootstrap_quote_v1">
                <div class="media-body">
                  <div class="quote">&ldquo;</div>

                  <blockquote class="mb-5">[INFO SOBRE TALLERISTA]
                  </blockquote>
                  <img class="d-flex text-center mx-auto mb-3 rounded-circle" src="assets/images/person_1.jpg"
                       alt="Generic placeholder image">
                  <h3 class="heading">TALLERISTA X</h3>
                  <p class="subheading">@Twitter_Tallerista</p>
                  <p><a href="" class="btn btn-primary">VER VIDEO</a></p>
                </div>
              </div>
            </div>
            <div class="col-md probootstrap-animate">
              <div class="media d-block text-center testimonial_v1 probootstrap_quote_v1">
                <div class="media-body">
                  <div class="quote">&ldquo;</div>

                  <blockquote class="mb-5">[INFO SOBRE TALLERISTA]
                  </blockquote>
                  <img class="d-flex text-center mx-auto mb-3 rounded-circle" src="assets/images/person_1.jpg"
                       alt="Generic placeholder image">
                  <h3 class="heading">TALLERISTA X</h3>
                  <p class="subheading">@Twitter_Tallerista</p>
                  <p><a href="" class="btn btn-primary">VER VIDEO</a></p>
                </div>
              </div>
            </div>
            <div class="col-md probootstrap-animate">
              <div class="media d-block text-center testimonial_v1 probootstrap_quote_v1">
                <div class="media-body">
                  <div class="quote">&ldquo;</div>

                  <blockquote class="mb-5">[INFO SOBRE TALLERISTA]
                  </blockquote>
                  <img class="d-flex text-center mx-auto mb-3 rounded-circle" src="assets/images/person_1.jpg"
                       alt="Generic placeholder image">
                  <h3 class="heading">TALLERISTA X</h3>
                  <p class="subheading">@Twitter_Tallerista</p>
                  <p><a href="" class="btn btn-primary">VER VIDEO</a></p>
                </div>
              </div>
          </div>
        </div>



      <div class="row justify-content-center mb-5">
        <div class="col-md-8 text-center mb-5 probootstrap-animate">
          <h4><br><br><br>PONENTES Y TALLERISTAS INTERNACIONALES</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md probootstrap-animate">
          <div class="media d-block text-center testimonial_v1 probootstrap_quote_v1">
            <div class="media-body">
              <div class="quote">&ldquo;</div>

              <blockquote class="mb-5">[INFO SOBRE TALLERISTA INTERNACIONAL]
              </blockquote>
              <img class="d-flex text-center mx-auto mb-3 rounded-circle" src="assets/images/person_1.jpg"
                   alt="Generic placeholder image">
              <h3 class="heading">TALLERISTA X</h3>
              <p class="subheading">@Twitter_Tallerista</p>
              <p><a href="" class="btn btn-primary">VER VIDEO</a></p>
            </div>
          </div>
        </div>
        <div class="col-md probootstrap-animate">
          <div class="media d-block text-center testimonial_v1 probootstrap_quote_v1">
            <div class="media-body">
              <div class="quote">&ldquo;</div>

              <blockquote class="mb-5">[INFO SOBRE TALLERISTA INTERNACIONAL]
              </blockquote>
              <img class="d-flex text-center mx-auto mb-3 rounded-circle" src="assets/images/person_1.jpg"
                   alt="Generic placeholder image">
              <h3 class="heading">TALLERISTA X</h3>
              <p class="subheading">@Twitter_Tallerista</p>
              <p><a href="" class="btn btn-primary">VER VIDEO</a></p>
            </div>
          </div>
        </div>
        <div class="col-md probootstrap-animate">
          <div class="media d-block text-center testimonial_v1 probootstrap_quote_v1">
            <div class="media-body">
              <div class="quote">&ldquo;</div>

              <blockquote class="mb-5">[INFO SOBRE TALLERISTA INTERNACIONAL]
              </blockquote>
              <img class="d-flex text-center mx-auto mb-3 rounded-circle" src="assets/images/person_1.jpg"
                   alt="Generic placeholder image">
              <h3 class="heading">TALLERISTA X</h3>
              <p class="subheading">@Twitter_Tallerista</p>
              <p><a href="" class="btn btn-primary">VER VIDEO</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- END section -->
