<section class="probootstrap_section bg-light" id="section-contact">
    <div class="container">
        <div class="row">

            <div class="col-md-7 probootstrap-animate">
                <form action="#" method="post" class="probootstrap-form probootstrap-form-box mb60">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fname">First Name</label>
                                <input type="text" class="form-control" id="fname" name="fname">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lname">Last Name</label>
                                <input type="text" class="form-control" id="lname" name="lname">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea cols="30" rows="10" class="form-control" id="message" name="message"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" id="submit" name="submit" value="Send Message">
                    </div>
                </form>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 probootstrap-animate">
                <ul class="probootstrap-contact-details">
                    <li>
                        <span class="text-uppercase">Email</span>
                        probootstrap@gmail.com
                    </li>
                    <li>
                        <span class="text-uppercase">Phone</span>
                        +30 976 1382 9921
                    </li>
                    <li>
                        <span class="text-uppercase">Fax</span>
                        +30 976 1382 9922
                    </li>
                    <li>
                        <span class="text-uppercase">Address</span>
                        San Francisco, CA <br>
                        4th Floor8 Lower <br>
                        San Francisco street, M1 50F
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>
