<section class="probootstrap_section" id="section-products">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 text-center mb-4 probootstrap-animate">
                <h2>INSCRIPCION A TALLERES Y SIMPOSIOS</h2>
                <h5  class="probootstrap_font-16">BIENVENIDO A LA INSCRIPCION A TALLERES O SIMPOSIOS DE LA #SDS2018. SÍ DESEAS INSCRIBIRTE A
                CUALQUIER TALLER O SIMPOSIO, SÓLO HAZ CLICK SOBRE EL TALLER QUE DESEES Y LLENA LOS DATOS NECESARIOS PARA TU INSCRIPCION.
                </h5>
            </div>
        </div>
        <div class="row">

            <div class="col-md-3 col-sm-6 probootstrap-animate">
                <div class="media d-block text-center">
                    <img class="mr-0 mb-3 w-50 img-fluid rounded-circle" src="assets/images/Running-Code.gif"
                         alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-3">TALLER Xn</h5>
                        <p class="probootstrap_font-14">GRATIS</p>
                        <p><a href="#">INSCRIBIR</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 probootstrap-animate">
                <div class="media d-block text-center">
                    <img class="mr-0 mb-3 w-50 img-fluid rounded-circle" src="assets/images/Running-Code.gif"
                         alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-3">SIMPOSIO Xn</h5>
                        <p class="probootstrap_font-14">GRATIS</p>
                        <p><a href="#">INSCRIBIR</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 probootstrap-animate">
                <div class="media d-block text-center">
                    <img class="mr-0 mb-3 w-50 img-fluid rounded-circle" src="assets/images/Running-Code.gif"
                         alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-3">TALLER Xn</h5>
                        <p class="probootstrap_font-14">GRATIS</p>
                        <p><a href="#">INSCRIBIR</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 probootstrap-animate">
          <div class="media d-block text-center">
            <img class="mr-0 mb-3 w-50 img-fluid rounded-circle" src="assets/images/Running-Code.gif"
                 alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-3">SIMPOSIO Xn</h5>
              <p class="probootstrap_font-14">GRATIS</p>
              <p><a href="#">INSCRIBIR</a></p>
            </div>
          </div>
        </div>
          <div class="col-md-3 col-sm-6 probootstrap-animate">
            <div class="media d-block text-center">
              <img class="mr-0 mb-3 w-50 img-fluid rounded-circle" src="assets/images/Running-Code.gif"
                   alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-3">TALLER Xn</h5>
                <p class="probootstrap_font-14">GRATIS</p>
                <p><a href="#">INSCRIBIR</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 probootstrap-animate">
            <div class="media d-block text-center">
              <img class="mr-0 mb-3 w-50 img-fluid rounded-circle" src="assets/images/Running-Code.gif"
                   alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-3">SIMPOSIO Xn</h5>
                <p class="probootstrap_font-14">GRATIS</p>
                <p><a href="#">INSCRIBIR</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 probootstrap-animate">
            <div class="media d-block text-center">
              <img class="mr-0 mb-3 w-50 img-fluid rounded-circle" src="assets/images/Running-Code.gif"
                   alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-3">TALLER Xn</h5>
                <p class="probootstrap_font-14">GRATIS</p>
                <p><a href="#">INSCRIBIR</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 probootstrap-animate">
            <div class="media d-block text-center">
              <img class="mr-0 mb-3 w-50 img-fluid rounded-circle" src="assets/images/Running-Code.gif"
                   alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-3">SIMPOSIO Xn</h5>
                <p class="probootstrap_font-14">GRATIS</p>
                <p><a href="#">INSCRIBIR</a></p>
              </div>
            </div>
          </div>

        </div>
    </div>
</section>
<!-- END section -->
