<section class="probootstrap_section bg-light" id="section-services">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 text-center mb-5 probootstrap-animate">
                <h2>CALENDARIO DE ACTIVIDADES DE LA<br>#SDS2018</h2>
                <p class="probootstrap_font-14">TIENES A TU DISPOCISION LA CALENDARIZACION DE LA #SDS2018 PARA QUE CONOZCAS LAS ACTIVIDADES QUE REALIZAREMOS EN ESTA ESPECTACULAR SEMANA</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 probootstrap-animate">
                <div class="media d-block probootstrap_feature-v1 text-center">
                    <div class="probootstrap_icon"><i class="ion-ios-play-outline text-secondary"></i></div>
                    <div class="media-body">
                        <h5 class="mt-0 mb-3 heading">LUNES 22</h5>
                        <p class="probootstrap_font-14 text-sans-serif"></p>
                        <p class="text-sans-serif probootstrap_font-14 mb-0"><a href="#">VER ACTIVIDADES</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 probootstrap-animate">
                <div class="media d-block probootstrap_feature-v1 text-center">
                    <div class="probootstrap_icon"><i class="ion-ios-lightbulb-outline text-secondary"></i></div>
                    <div class="media-body">
                        <h5 class="mt-0 mb-3 heading">MARTES 23</h5>
                        <p class="probootstrap_font-14 text-sans-serif"></p>
                        <p class="text-sans-serif probootstrap_font-14 mb-0"><a href="#">VER ACTIVIDADES</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 probootstrap-animate">
                <div class="media d-block probootstrap_feature-v1 text-center">
                    <div class="probootstrap_icon"><i class="ion-ios-infinite-outline text-secondary"></i></div>
                    <div class="media-body">
                        <h5 class="mt-0 mb-3 heading">MIERCOLES 24</h5>
                        <p class="text-sans-serif probootstrap_font-14 mb-0"><a href="#">VER ACTIVIDADES</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 probootstrap-animate">
                <div class="media d-block probootstrap_feature-v1 text-center">
                    <div class="probootstrap_icon"><i class="ion-ios-flag text-secondary"></i></div>
                    <div class="media-body">
                        <h5 class="mt-0 mb-3 heading">JUEVES 25</h5>
                        <p class="text-sans-serif probootstrap_font-14 mb-0"><a href="#">VER ACTIVIDADES</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 probootstrap-animate">
                <div class="media d-block probootstrap_feature-v1 text-center">
                    <div class="probootstrap_icon"><i class="ion-ios-pause-outline text-secondary"></i></div>
                    <div class="media-body">
                        <h5 class="mt-0 mb-3 heading">VIERNES 26</h5>
                        <p class="text-sans-serif probootstrap_font-14 mb-0"><a href="#">VER ACTIVIDADES</a></p>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>
<!-- END section -->
